<html>
    <head>
        <title>
            GanapathyDA
        </title>
        <link rel="shortcut icon" href="images/GS.ico">
        <link rel="stylesheet" href="css/style.css">
           <!-- =====BOX ICONS===== -->
           <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav_menu">
                    <ul class="nav_list">
                        <a href="#"class="nav_logo">Ganapathy Subramanian</a>
                        <li class="nav_items"><a href="#home" class="link active">Home</a></li>
                        <li class="nav_items"><a href="#about" class="link"  >About</a></li>
                        <li class="nav_items"><a href="#skills" class="link" >Skils</a></li>
                        <li class="nav_items"><a href="#interest" class="link">Interest</a></li>
                        <li class="nav_items"><a href="#certifications" class="link">Certifications</a></li>
                        <li class="nav_items"><a href="#contact" class="link">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Home Page-->
        <div id="home" class="home_page">
            <div class="profile_img">
                <img src="images/perfil.jpg">
            </div>
            <div class="home_header">
                <p>HI ,Iam<b> Ganapathy Subramanian </b><br> A Beginner WebDeveloper</p>
            </div>
            <div class="home_social">
                <a href="https://github.com/ganapathyda"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                <a href="https://twitter.com/Ganapathyda " ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/ganapathy-subramanian-897325194/" ><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            </div>        
        </div>


        <div id="about" class="about_page">
            <div class="about_header">
                <p>About me</p>
            </div>
            <div class="about_content">
                <div class="gif">
                <img src="gif/web-dev.gif">
                </div>
                <div class="content">
                    <h1>Hello</h1>
                    <p>I'm Finished My SSLC and HSC Studies at Mrr Mavmm Matriculation Higher Secondary School</p>
                    <p>I'm currently pursuing Btech Information technology at Velammal college of engineering and technology</p>
                    <p>A Student and a Beginner WebDeveloper From Madurai,India</p>
                    <p>I ❤ To Play Pc and Android Games</p>               
                </div> 
            </div><br>
            <div class="project_details">
                <h3>Project Details</h3>
                <center>
                    <table cellspacing="10">
                        <thead>
                            <tr>
                                <th>S.NO </th>
                                <th>STARTING AND ENDING TIME </th>
                                <th>PROJECT NAME </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>JUL 2020 - SEP 2020</td>
                                <td>Hospital Management System</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>SEP 2020 - OCT 2020</td>
                                <td>Online Chat Application</td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
        </div>

        <div id="skills" class="skills_page">
            <!-- <div class="profile_img">
                <img src="images/perfil.jpg">
            </div> -->
            <div class="skills_header">
                <p>My Skills</p>
            </div>
            <div class="skills_content">
                <h1>Professional Skills</h1>
                <p>I'm proficient in HTML5,CSS and JS.</p>
                <p>I have a passing knowledge of SQL,PHP and NODEJS.The known languages are c and java.</p>
                
                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-html5 skills_icon'></i>
                        <span class="skills_name">HTML5</span>
                    </div>
                    <div class="skills_bar skills_html">

                    </div>
                    <div>
                        <span class="skills_percentage">85%</span>
                    </div>
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-css3 skills_icon'></i>
                        <span class="skills_name">CSS3</span>
                    </div>
                    <div class="skills_bar skills_css">
                        
                    </div>
                    <div>
                        <span class="skills_percentage">75%</span>
                    </div>
                </div>
                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-javascript skills_icon' ></i>
                        <span class="skills_name">JAVASCRIPT</span>
                    </div>
                    <div class="skills_bar skills_js">
                        
                    </div>
                    <div>
                        <span class="skills_percentage">55%</span>
                    </div>
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxs-paint skills_icon'></i>
                        <span class="skills_name">PHP</span>
                    </div>
                    <div class="skills_bar skills_php">
                        
                    </div>
                    <div>
                        <span class="skills_percentage">65%</span>
                    </div>
                </div>
            </div>           
                <div>              
                    <img src="gif/skill.gif" alt="" class="skills_img">
                </div>
            </div>
            </div>
           
        </div>

        <div id="interest" class="interest_page">
            <div class="interest_header">
                <p>My Interests</p>
            </div>
            <div class="interest_content">
                <p>My interest are with Web App Development And to Learn something different</p>
                <p>I ❤  to play 🎮 Games</p>
                <p>I ❤  to Watch Adventures and Survival Movies</p>
                <p>I interested to learn Node js</p>
            </div>
            <div>              
                <img src="gif/interest.gif" alt="" class="interest_img">
            </div>
        </div>


        <div id="certifications" class="certifications_page">
            <div class="certifications_header">
                <p>My Certification</p>
            </div>
            <div class="certifications_content">
                <img src="images/certificate/1.PNG" alt="">
                <img src="images/certificate/2.PNG" alt="">
                <img src="images/certificate/3.jpg" alt="">
                <img src="images/certificate/7.jpg" alt="">
                <img src="images/certificate/5.jpg" alt="">
                <img src="images/certificate/6.jpg" alt="">

            </div>
            
        </div>

       <div class="contact-me" id="contact">
        <div class="contact_header">
            <p>Contact-Me</p>
        </div>
                <div class="contact_content">
                    <form action="mailto:ganapathy5subramanian@gmail.com" class="contact_form">
                        <input type="text" placeholder="Name" class="contact_input">
                        <input type="mail" placeholder="Email" class="contact_input">
                        <textarea name="" id="" placeholder="Message" cols="0" rows="5" class="contact_input"></textarea>
                        <br><br><br><input type="button" value="send" class="submit-btn">
                    </form>
                </div>
        </div>

        <footer class="footer">
            <script src="javascript/script.js"></script>
            <p class="footer_title">Ganapathy Subramanian</p>
                <div class="footer_social">
                    <a href="https://www.facebook.com/ganapathysubramanian.ganapathysubramanian.336/" class="footer_icon"><i class='bx bxl-facebook' ></i></a>
                    <a href="https://www.instagram.com/ganapathyda/" class="footer_icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://twitter.com/Ganapathyda" class="footer_icon"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://github.com/ganapathyda" class="footer_icon"><i class='bx bxl-github' ></i></a>
                </div>
                <p>&#169; 2020 copyright all right reserved</p>
        </footer>
    </body>
</html>